body {
    background-image: linear-gradient(red, yellow);
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
}

.navbar a {
    display: inline;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}
.navbar a:hover {
    color:red;
}
.navbar {
    border: 2px solid black;
    border-width: thick;
    border-style:inset;
    width: 100%;
    text-align: right;
    background-image: radial-gradient(blue, purple, black);
    color:white;
}

.navbar h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Sofia", sans-serif;
}

.navbar a {
    color:white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 10;
}
  
.dropdown:hover .dropdown-content {
    display:block;
}
@media only screen and (max-width: 860px) {
    .navbar {
        text-align: center;
    }
}
.me {
    width: 490px;
    height: 550px;
    border: 2px solid yellow;
    border-radius: 25px;
}

.info-cont {
    border: 2px solid yellow;
    border-radius: 25px;
    height: 550px;
    width: 550px;
    background-color: #ffffe6;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
    font-weight: 400;
}

#about {
    display:flex;
    justify-content:center;
    align-content: space-between;
    gap: 50px;
}

@media only screen and (max-width: 1050px) {
    .info-cont p {
        width:100%;
        height: 100%;
        font-size: 14px;
        overflow-y: scroll;
    }
    .info-cont {
        margin-left: 20px;
        overflow-y: scroll;
    }
    .me {
        width: 300px;
        height: 500px;
    }
}
@media only screen and (max-width: 860px) {
    .info-cont p {
        width: 100%;
        height:100%;
        font-size: 12px;
        border-radius: 15px;
    }
    .info-cont {
        width: auto;
        height: 500px;
        margin-left: 20px;
        height: 500px;
    }
    .me {
        width: 300px;
        height: 500px;
    }
}
@media only screen and (max-width: 470px) {
    .info-cont p {
        width: 100%;
        height:100%;
        font-size: 10px;
        
    }
    .info-cont {
        margin-left: 20px;
        height:400px;
        width: auto;
    }
    .me {
        width: auto;
        height: 400px;
    }
}

h2 {
    text-align: center;
    border: 2px solid yellow;
    border-radius: 50px;
    border-width: thick;
    border-style:inset;
    padding: 0px 0px;
    font-family: "Sofia", sans-serif;
}

.proj-cont {
    display: flex;
    justify-content: center;
    align-content: space-between;
    gap: 100px;
} 

.examp {
    width:400px;
    height:300px;
    display: block;
}

.proj-t {
    text-decoration: underline;
}
.html5 {
    font-family: 'Arima', cursive;
    font-weight: 900;
}

.made {
    display:block;
}
.java {
    font-family: 'Arima', cursive;
    font-weight: 900;
}

h3 {
    text-decoration: underline;
}
.html-logo {
    width:200px;
    height:200px;
}

.css-logo {
    width:200px;
    height:200px;
}

.java-logo {
    width:200px;
    height:200px;
}

.pyth-logo {
    width:200px;
    height:200px;
}
h5 {
    margin-bottom: 5px;
}
